# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np
import math 

# Seu código aqui
anomaliaTermica = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02])
anomaliaTermica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [2]:

# seu código aqui
anomaliaTermica = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],index=[1900,1920,1940,1960,1980,2000,2020])
anomaliaTermica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [3]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
anomaliaTermicaSeries = pd.Series(dic_temperaturas)
anomaliaTermicaSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [4]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
pd.DataFrame(arr)

             0           1           2
0    94.465207  106.566992  105.830634
1    98.121775   87.928537  105.298201
2    75.929174   79.918255   67.684421
3    85.395318  125.432984   88.437676
4   100.330036  105.110186  115.107482
5   100.592475  109.428558   99.680801
6   100.482431  113.603243  100.257295
7    90.515971   95.949883   99.315205
8   101.455698  103.795312   92.444772
9   111.342849  106.206698   97.210347
10   87.201419  107.221934   85.386877
11  101.003787  107.126491  116.796349
12   95.389109  114.438499  103.464861
13  106.035853   95.975957   91.975874
14  107.935115   99.822422  102.613606
15  112.828332  103.343138   95.663388
16   98.835709  106.867953  111.190300
17   95.546945   90.127199   96.605407
18  103.191255  116.534503  114.013081
19  106.825198  106.997859  100.671580

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [5]:
arrModificado=pd.DataFrame((arr),
              columns=('x1','x2','x3'),
             index=(1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)) 
arrModificado

            x1          x2          x3
1    94.465207  106.566992  105.830634
2    98.121775   87.928537  105.298201
3    75.929174   79.918255   67.684421
4    85.395318  125.432984   88.437676
5   100.330036  105.110186  115.107482
6   100.592475  109.428558   99.680801
7   100.482431  113.603243  100.257295
8    90.515971   95.949883   99.315205
9   101.455698  103.795312   92.444772
10  111.342849  106.206698   97.210347
11   87.201419  107.221934   85.386877
12  101.003787  107.126491  116.796349
13   95.389109  114.438499  103.464861
14  106.035853   95.975957   91.975874
15  107.935115   99.822422  102.613606
16  112.828332  103.343138   95.663388
17   98.835709  106.867953  111.190300
18   95.546945   90.127199   96.605407
19  103.191255  116.534503  114.013081
20  106.825198  106.997859  100.671580

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [6]:
# seu código aqui
arrModificado["media"]=(arrModificado['x1']+ arrModificado['x2'] + arrModificado['x3'] )/3
arrModificado

            x1          x2          x3       media
1    94.465207  106.566992  105.830634  102.287611
2    98.121775   87.928537  105.298201   97.116171
3    75.929174   79.918255   67.684421   74.510616
4    85.395318  125.432984   88.437676   99.755326
5   100.330036  105.110186  115.107482  106.849235
6   100.592475  109.428558   99.680801  103.233945
7   100.482431  113.603243  100.257295  104.780990
8    90.515971   95.949883   99.315205   95.260353
9   101.455698  103.795312   92.444772   99.231927
10  111.342849  106.206698   97.210347  104.919965
11   87.201419  107.221934   85.386877   93.270077
12  101.003787  107.126491  116.796349  108.308876
13   95.389109  114.438499  103.464861  104.430823
14  106.035853   95.975957   91.975874   97.995895
15  107.935115   99.822422  102.613606  103.457048
16  112.828332  103.343138   95.663388  103.944953
17   98.835709  106.867953  111.190300  105.631320
18   95.546945   90.127199   96.605407   94.093183
19  103.191255  116.534503  114.013081  111.246280
20  106.825198  106.997859  100.671580  104.831546

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [7]:
# seu código aqui
arrModificado["log_med"]=np.log2(arrModificado["media"])
arrModificado

            x1          x2          x3       media   log_med
1    94.465207  106.566992  105.830634  102.287611  6.676488
2    98.121775   87.928537  105.298201   97.116171  6.601640
3    75.929174   79.918255   67.684421   74.510616  6.219374
4    85.395318  125.432984   88.437676   99.755326  6.640322
5   100.330036  105.110186  115.107482  106.849235  6.739433
6   100.592475  109.428558   99.680801  103.233945  6.689774
7   100.482431  113.603243  100.257295  104.780990  6.711233
8    90.515971   95.949883   99.315205   95.260353  6.573804
9   101.455698  103.795312   92.444772   99.231927  6.632732
10  111.342849  106.206698   97.210347  104.919965  6.713145
11   87.201419  107.221934   85.386877   93.270077  6.543342
12  101.003787  107.126491  116.796349  108.308876  6.759008
13   95.389109  114.438499  103.464861  104.430823  6.706404
14  106.035853   95.975957   91.975874   97.995895  6.614649
15  107.935115   99.822422  102.613606  103.457048  6.692888
16  112.828332  103.343138   95.663388  103.944953  6.699676
17   98.835709  106.867953  111.190300  105.631320  6.722894
18   95.546945   90.127199   96.605407   94.093183  6.556018
19  103.191255  116.534503  114.013081  111.246280  6.797613
20  106.825198  106.997859  100.671580  104.831546  6.711929